
body {
    font-family: "Roboto",sans-serif;
    padding-top: 22px;
    background: linear-gradient(180deg, rgba(37, 47, 55, 0.97) 0%, rgba(39, 46, 52, 0.830135) 83.85%) no-repeat;
}
.input {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 8px 8px 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
    width: 300px;
}

.search {

    margin-right: auto;
    margin-bottom: 20px;
}

.input-search {
    background-image: url(../img/search.svg);

}

.podca{
    margin: auto;
    max-width: 875px;
}
.imaga{
    width: 100%;
}
.page-magazine{
     width: 130%;
    }

.space{
    padding-left:  60px;
}
.howto{

    width: 100%;
}
.container {
    max-width: 1800px;
    margin: auto;

}
.header {
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}
.logo{
    padding-top: 30px;
    width: 99px; 
    height: 96px;
}
.text-center{
    cursor: default;
    margin-left: auto; 
    margin-right: auto; 
    padding-right: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 1px;
    color: #FF0038;
}
.mainb{
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 220px;

}
.main{
    
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 104%;
    margin-left: 1%;
}
.tophowto{
        width: 100%;
}
.vertical{
    display: flex;
    align-items: start;
    flex-direction: row;
}
.menu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.menub{
    min-width: 220px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.menu-center{
    margin: auto;   
    margin-top: 0px; 
}


.button{
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    background: #FF0038;
    border: 3px solid #7C213C;
    margin-bottom: 16px;
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px 5px;
    text-decoration: blink;
}
.locked-button{
    cursor: default;
    background: #7C213C;
    border: 2px solid #FF0038;
}
.button-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
}

.news{
    margin-right: 25px;
    overflow: hidden;
    border-radius: 50px;
    height: 285px;
    background: #565661;
    background-size: 100% 100%;
    
}
.searchRes{
    display: flex;
    flex-direction: row;
}
.news-title{
    padding-left: 35px;
    padding-top: 30px;
    max-width: 64%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: #FFFFFF;

}
.news-text{
    padding: 0px 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.new{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.about-text{
    overflow-wrap: break-word;
    cursor: default;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #C4C4C4;
}
.cacti-text{
    text-align: center;
    
}
.mid-text{
    text-align: center; 
}
.middle-text{
    cursor: default;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 32px;
    color: #FF0038;
}
.text-space{
    margin-bottom: 20px;
}


.swiper-container{
    width: 107%;
}
.scroll{
    width: 100%;
    margin-bottom: 45px;
}
.card-container{
    width:85%;
}
.img-card{
    cursor: pointer;
    border-radius: 25px;
    width: 100%;    
    height: 377px;
}
.info{
    max-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 25px;
    padding: 5px 5px;
    background: #565661;
}

.info-text{
    cursor: default;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color:#FFFFFF;
    overflow: hidden;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.tinner{
    width: 135px;
}
.rating{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3px 2px;
    background: #80808F;
    border-radius: 25px; 
    max-width: 22%;
    
}
.numtxt{
    overflow: visible;
}
.img-rating{
    margin: 0px 10px;
    width: 25px;
    height: 25px;
}
.pressed-like{
    background: #00ADEF; 
}
.pressed-dislike{

    background: #C0392B;
}
.article-list{
    width: 115%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cacti{

    display:block;
    margin-left: 5%;
    }
.cactimage{
    margin: 5%;
    margin-top: 0px;
    width: 90%;
    height: 90%;
    }
.searchRes{
    width: 115%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.acard{
    width: 23%;
    border-radius: 25px; 
    margin-bottom: 30px;    
}
.pdf-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
} 
.transparent{
    flex-basis: 21%;
    opacity: 0;
    background: null;
}

.footer{
    background: linear-gradient(180deg, rgba(37, 47, 55, 0.401042) 6.77%, #252F37 100%);
    min-width: 100%;
}
.foo{
    width: 100%; 
    padding: 30px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.logodown{
    margin-left: 60px; 
    padding-top: 0px;
}
.link{
    margin-bottom: 15px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration-color: #FFFFFF;
}
.imlink{
    width:30px;
    height: 30px;
    padding-right: 20px;
}
.hide{
    display: none;
}
.space-bottom{
    margin-bottom: 45px;
}
.return-button{
    order: 10;
}

.octo{
    order: 1;
}



@media (max-width: 10000px){

    .pdf-articles{
        width: 90%;
        } 
    .container{
        max-width: 80%;    
        }

    .podca{
        margin: auto;
        max-width: 72%;
    }
    .input {
        font-size: 20px;
        line-height: 28px;
        width: 300px;
    }
}
@media (max-width: 1366px){
    .pdf-articles{
    width: 90%;
    } 
    .input {
        font-size: 16px;
        line-height: 15px;
        width: 250px;
    }
    .container{
        max-width: 1060px;    
        }
    .main{
        width: 90%;
    }
    .podca{
        margin: auto;
        max-width: 975px;
    }

}
@media(max-width: 1100px){
    
    .podca{
        margin: auto;
        max-width: 775px;
    }
    .tophowto{
        width: 100%;
    } 
    .page-magazine{
        width: 110%;
    }
    .container{
        max-width: 860px;
        margin: auto;
    }
}


@media(max-width: 992px){
    .input {
        font-size: 14px;
        line-height: 15px;
        width: 220px;
        margin-left: 15px;
    }
    .podca{
        margin: auto;
        max-width: 750px;
    }

    .container{
        max-width: 750px}
    .logo{
        padding-top: 30px;
        width: 82.5px; 
        height: 80px;
    }
    .header{
        width: 100%;
    }
    .text-center{
        font-size: 60px;
    }
    .news{
        height: 250px;;
    }
    .main{
        width: 100%;
    }
    .button{
        margin-bottom: 14px ;
        padding: 4px 4px;
    }
    .button-text{
        font-size: 13px;
        line-height: 15px;
    }
    .news-title{
        font-size: 25px;
        line-height: 25px;
    }
    .middle-text{
        font-size: 33px;
        line-height: 25px;
    }
    .news-text{
        margin-top: 0px;
        font-size: 16px;
    }
    .space-bottom{
        margin-bottom: 35px;
    }
    .article-list{
        width: 100%;   
    }
    .searchRes{
        width: 92%;
    }

    .img-card{ 
        height: 307px;
    }
    .img-rating{
        width: 16px;
        height: 16px;
    }
    .numtxt{
        margin: 0px 0px;
    }
    .info-text{
        font-size: 16px;
        line-height: 16px;
    }

    .about-text{
        font-size: 26px;
        line-height: 34px;
    }
}
@media(max-width: 768px){
    .input {
        font-size: 13px;
        line-height: 15px;
        width: 200px;
        margin-left: 60px;
    }
    .podca{
        margin: auto;
        max-width: 550px;
    }
    .tophowto{
        width: 98%;
    }
    .howto{
        width: 600px;
    }
    .container{
        max-width:560px;
    }
    .logo{
        padding-top: 20px;
        width: 82.5px; 
        height: 80px;
    }
    .text-center{
        font-size: 55px;
    }
    .news{
        height: 240px;
    }
    .button{
        margin-bottom: 10px;
    }
    .button-text{
        font-size: 10px;
        line-height: 13px;
    }
    .news-title{
        padding-left: 25px;
    }
    .middle-text{
        font-size: 29px;
        line-height: 25px;
        padding-left: 25px;
    }
    .news-text{
        padding-left: 25px;
    }
    .space-bottom{
        margin-bottom: 25px;
    }
    .news{
        width: 100%;
    }
    .img-rating{
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    .info-text{
        font-size: 10px;
        line-height: 15px;
    }
    .article-list{
        width: 110%;   
    }
    .img-card{ 
        height: 247px;
    }  
    .menub{
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 100%;
    }
    .top{   
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .about-text{
        font-size: 22px;
        line-height: 30px;
    }
}
@media(max-width: 578px){ 
    .top{
        width: 100%;
    }
    
    .input {
        padding-top:4px;
        padding-bottom:4px;
        font-size: 12px;
        line-height: 10px;
        width: 170px;
        margin-left: 15px;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .podca{
        margin: auto;
        max-width: 78%;
    }
    .space{
        padding-left: 30px;
    }
    .howto{
        width: 500px;
    }
    .text-center{
        font-size: 50px;
    }
    .top{   
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }
    .news{
        margin-right: 0px;
    }
    .button{
        border: 2px solid #7C213C;
        padding: 3px 3px;
        margin-right: 4px;
    }
    .locked-button{
        border: 2px solid #FF0038;
    }
    .space-bottom{
        margin-bottom: 15px;
    }
    .acard{
        width: 30%;
        margin-bottom: 15px;    
    }
    .img-rating{
        margin: 0px 2px;
        width: 16px;
        height: 16px;
    }
    .info-text{
        font-size: 10px;
        line-height: 15px;
        margin: 0px 2px;
    }
    .numtxt{
        margin: 0px 0px;
    }
    .article-list{
        width: 110%;   
    }
    .img-card{ 
        height: 237px;
    } 
    .link{
        margin-bottom: 7px;
        margin-right: 0px;
    }
    .foo{
        padding: 30px 0px;
        display: flex;
        align-items: start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .contact{
        margin-left: 100px;
    }
    .links{
        margin-top: 15px;
        margin-left: 170px;
    }
    .imlink{
        height: 20px;
        width: 20px;
    }
    .about-text{
        
        padding-left: 10px;
    }

}
@media(max-width: 480px){
    .cacti{
        margin-left: 0%;
        margin-right: 0%;
        }
    .cactimage{
        width: 110%;
        height: 110%;
        margin-left: 10%;
    }
    .input {
        padding-top:3px;
        padding-bottom:3px;
        font-size: 10px;
        line-height: 10px;
        width: 140px;
        margin-left: 15px;
    }
    .podca{
        margin: auto;
        max-width: 80%;
    }
    .tophowto{
        width: 100%;
    }
    .scroll{
        width: 90%;
    }
    .about{
        width: 100%;
    }
    .howto{
        width: 100%;
    }
    .container{
        width: 90%;
        margin-right: 24px;
    }
    .main{
        padding-left: 5px;
    }
    .logo{
        padding-left: 20px;
        width: 62px;
        height: 60px;
    }
    .text-center{
        padding-left: 20px;
        padding-right: 0px;
        font-size: 50px;
    }
    .button-text{
        font-size: 8px;
        line-height: 10px;
    }
    .button{
        padding: 3px 2px;
        margin-right: 2px;
        border: 1px solid #7C213C;
    }
    .locked-button{
        border: 1px solid #FF0038;
    }
    .news{
        height: 200px;
    }
    .news-title{
        padding-left: 25px;
        line-height: 20px;
        font-size: 20px;
    }
    .middle-text{
        font-size: 25px;
        line-height: 20px;
        padding-left: 15px;
    }
    .news-text{
        font-size: 15px;
    }
    .acard{
        width: 45%;
        margin-bottom: 15px;    
    }
    .img-rating{
        width: 17px;
        height: 17px;
    }
    .rating{
        max-width: 27%;
    }
    .info-text{
        font-size: 13px;
        line-height: 17px;
        margin: 0px 3px;
    }
    .numtxt{
        margin: 0px 0px;
    }
    .article-list{
        width: 100%;   
    }
    .img-card{ 
        height: 237px;
    } 
    .link{
        margin-bottom: 7px;
    }
    .foo{
        align-items: center;
    }
    .logodown{
        margin-left: 30px; 
        padding-top: 0px;
    }
    .contact{
        margin-left: 50px;
    }
    .links{
        margin-top: 15px;
        margin-left: 60px;
    }
    .imlink{
        height: 17px;
        width: 17px;
    }
    .fotext{
        font-size: 11px;
        line-height: 12px;
    }
    .about-text{
        font-size: 12px;
        line-height: 16px;
    }
    .cactimage{
        width: 80%;
        height: 80%;
        }
    .cacti{
        margin-left: 10%;
        }
    .octo{
        width: 80%;
        height: 80%;
    }

}
@media(max-width: 360px){
    .input {
        padding-top:3px;
        padding-bottom:3px;
        font-size: 10px;
        line-height: 10px;
        width: 140px;
        margin-left: 15px;
    }
    .about-text{
        font-size: 8px;
        line-height: 12px;
        margin-left: 0px;
    }
    .cacti{
        margin-left: 0%;
        margin-right: 0%;
        }
    .cactimage{
        margin-left: 10%;
    }
    .top{
        margin-left: 0px;
    }

    .main{
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .podca{
        margin: auto;
        max-width: 320px;
    }
    .howto{
        width: 100%;
    }
    .about{
        width: 100%;
    }
   .swiper-container{
       width: 100%;
   }
.container{
    width: 100%;
    margin-left: 0px;
}
.article-list{
    width: 92%;   
}
.acard{
    width: 47%;
}
.link{
    margin-bottom: 7px;
    margin-right: 0px;
}
.text-center{
    font-size: 45px;
    }
    .logo{
        padding-left: 10px;
        width: 51px;
        height: 50px;
    } 
    .menub{
        display: flex;
        padding-left: 0px;
        margin: auto;   
        margin-top: 0px; 
    }
    .vertical{
        width: 100%;
    }
    .top{
        width: 98%;
    }
}